<h1 id="tableLabel">Newest Stories</h1>

<p>This component demonstrates fetching data from the HackerAPI.</p>

<p *ngIf="newestStories === []"><em>Loading...</em></p>

<input type="text"
        class="form-control mb-2"
        placeholder="Search in Title..."
        #txtSearch
        (keyup)="onSearchTitle( txtSearch.value )" />

<button class="btn btn-primary"
        (click)="prevPage()">
        Previuos
</button>
&nbsp;
<button class="btn btn-primary"
        (click)="nextPage()"
        [disabled]="!hasMore">
        Next
</button>


<table class='table table-striped' aria-labelledby="tableLabel">
  <thead>
    <tr>
      <th>Title</th>
      <th>Link</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of newestStories | filter:page:search">
      <td>{{ item.title }}</td>
      
      <td *ngIf="item.url;else other_content"><a href="{{ item.url }}" title="{{item.url}}" target="_blank">Go to story</a></td>
      <ng-template #other_content><td class="text-danger">Link unavailable</td></ng-template>
    </tr>
  </tbody>
</table>
